fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0

matplotlib==3.9.0
seaborn==0.13.2

requests==2.32.3

python-dotenv==1.0.1

# Optional ML / NLP
transformers==4.42.4
torch==2.3.1
datasets==2.20.0
kaggle==1.6.14